
html { 
	width: 100%; 
	height:100%; 
	overflow:hidden; 
}

body { 
	margin-top: 5%;
	text-align: center;
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

h1 { 
	color: #7c795d; 
	font-family: 'Trocchi', serif; 
	font-size: 45px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0; 
}

th, td {
	color: #7c795d; 
}

h2 { 
	color: #7c795d; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 28px; 
	font-weight: 400; 
	line-height: 32px; 
	margin: 0 0 24px; 
}

button {
	width: 43%;
	color: white !important;
	text-transform: uppercase;
	background: #1D2951;
	padding: 20px;
	border: 4px solid black !important;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

form {
	margin-top:5px;
    width: 500px;
	display:inline-block;
}

label {
	color: white;
	width: 250px;
	float: left;
	clear: left;
}

th {
	font-weight: 900;
}

table {
  border-collapse: collapse;
  border: 2px solid gray;
  width: calc(50% - 10px);
  margin: 50px auto;
}

#category {
	width: 50%;
	margin: auto;
}

input { 
	display:inline-block;
	height:50px;
    width: 40%; 
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.3);
    padding: 20px;
    vertical-align:middle;
 	position:relative;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus { 
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
	}