<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
    	<link type="text/css" rel="stylesheet" href="/css/login.css" th:href="@{css/login.css}" />
   	
    </head>
    <body>
       <div>
		<h1 th:inline="text">Hello!</h1>
        <form th:action="@{/login}" method="post">
            <input type="submit" th:href="@{/login}" value="Sign In"/>
        </form>
        <form th:action="@{/signup}" method="post">
            <input type="submit" th:href="@{/signup}" value="Sign Up"/>
        </form>
       </div>
    </body>
</html>