<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/login.css" th:href="@{css/login.css}" />
   	
</head>
<body>
<div class="container">
	<div style="margin:auto">
		<h1>User List</h1><br>
		<h1 th:inline="text" style="text-align:center">Welcome [[${#httpServletRequest.remoteUser}]]</h1>
	</div>

	<div style="padding:20px 0; margin:auto">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Username</th>
		    <th>Email</th>
		    <th>Delete</th>
		</tr>  
    	<tr th:each = "userPerson : ${userPersons}">
    		<td th:text="${userPerson.username}"></td>
    		<td th:text="${userPerson.email}"></td>	
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${userPerson.id})}" class="btn btn-xs btn-danger">Delete</a></td>    		
    	</tr>
     </table>
	 <a href="/addUser" class="btn btn-primary">Add User</a> 
</div>	    	
</body>
</html>